body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15%;

}

h1 {  
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}

.img{
    transform: rotate(45deg);    
}

Navigation Bar