#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3;
}

h1 {  
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}